.hero-text {
  text-align: center;
}
.nav-style {
  color: black !important;
  font-size: 40px;
}
.h1 {
  justify-content: center;
}

.width100 {
  width: 100%;
}

.butterfly {
  
}

.bkg {
  background-image: url(images/butterfly.jpg);
  padding: 100px;
  margin: 100px;
}