/* Background Body*/
body {
  background: url(../eddiecah.github.io/images/butterfly.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}

/* Home Page Name Styles - Hero Text */
.Hero-title {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-45%, -50%);
}
.Hero-title h1 {
  color: #fff;
  font-size: 73px;
  font-family: "Playfair Display", serif;
}
.Hero-title h2 {
  color: #b66f46;
  font-size: 40px;
  font-family: "Ibarra Real Nova", serif;
}
/* Page Container Styles */

.container-custom1 {
  margin: 50px;
  padding: 50px;
  background-color: whitesmoke;
  opacity: 0.95;
}

.container-custom2 {
  margin: 50px;
  padding: 50px;
}

.container-custom3 {
  padding: 50px;
  background-color: whitesmoke;
  opacity: 0.95;
}

.container-custom4 {
  margin: 20px;
  padding: 50px;
}

/* sm buttons */

section #services {
  text-align: center;
  transform: translatez(0);
}

section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #c55d21;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #c55d21;
  transition: all 0.5s ease;
}
section #services li a {
  color: #fff;
}
section #services li div:hover {
  transform: rotate(360deg);
  background-color: whitesmoke;
  border-radius: 100px;
}
section #services li a:hover {
  color: #c55d21;
  transition: all 0.5s ease;
}

section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}

.sm-button-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Content in Pages*/
.title {
  font-family: "Playfair Display", serif;
}

.body-text {
  font-family: "Ibarra Real Nova", serif;
}

.quote-text {
  font-family: "Ibarra Real Nova", serif;
}
